/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2016, 4:42:26 PM
    Author     : nir
*/
#siteContent{
    background-size: cover;
    color: red;
    font-size: 23px;
}

h3 {
    color: red;
}

